
AddHandler fcgid-script .abc

#update this path according to your setup
#you can place the executable fcgishell anywhere on your server
FCGIWrapper /home/victor/TamarinServer/workspace/tamarin-fcgi/obj-debug/fcgishell/fcgishell .abc
Options +ExecCGI



